<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medhelp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/medhelp"
        android:label="MedHelp"
        android:roundIcon="@drawable/medhelp"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen"
        >
        <activity android:name=".Splash"
            android:theme="@style/SplashScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Login"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".Signup"
            android:theme="@style/SplashScreen" />
        <activity android:name=".ui.more.Upload"
            android:theme="@style/SplashScreen"/>
        <activity android:name=".ui.more.ImageGallery"
            android:theme="@style/SplashScreen"/>
        <activity android:name=".ui.reminder.AddReminderActivity"/>
        <activity android:name=".ui.reminder.AddReminder"/>

        <receiver android:name=".ui.alarm.Alarm"
                android:enabled="true"
                android:exported="true"/>

        <provider
            android:authorities="com.example.medhelp"
            android:name=".ui.reminder.AlarmReminderProvider"
            android:exported="false"/>

        <service android:name=".ui.reminder.ReminderAlarmService"
            android:exported="false"/>

    </application>

</manifest>